@import '../abstracts/mixins';

html {


  @include respond(tab-land) {
    font-size: 70%;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  padding: 0;
}

h1 {
  font-weight: 900;
}